body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.flexible-container{
    display: flex;
}
.top-banner-content{
    display: block;
    text-align: center;
    padding-top: 150px;
}
.top-banner-content h1{
    font-size: 65px;
    color: whitesmoke;
    line-height: 40%;
}
.top-banner-content p{
    padding-left: 380px;
    padding-right: 380px;
    color:black;
}
.donate-button{
    font-size: 20px;
    text-decoration: none;
    background-color:rgb(247, 90, 63);
    color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}
.donate-today{
    text-align: center;
    padding-top: 120px;
}
.donate-today h1{
    font-size: 45px;
    font-weight:bold;
}
.donate-today p{
    padding-left: 350px;
    padding-right: 350px;
}
.box-position{
    margin-left: 325px;
}
.money-decoration{
    background-color: rgb(231, 227, 227);
    margin: 40px 10px;
    border-radius: 5px;
    padding: 30px;
}
.money-decoration h2{
    font-weight: bold;
    color: rgba(66, 65, 65, 0.869);
}
.shaded-area{
    border: 2px solid rgb(249, 94, 67);
    background-color:rgb(239, 179, 168);
}
.shaded-area h2{
    color: tomato;
}
.donate-today-bottom-part{
    text-align: center;
    width: 55%;
    padding-left: 310px;
}
.donate-today-bottom-part p{
    color:rgb(211, 205, 205);
    border-bottom: 1px solid rgb(219, 216, 216);
    margin-bottom: 20px;
}