body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-banner{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.flexible-container{
    display: flex;
}
.flexible-container-1{
    display: block;
}
.top-banner-content{
    display: block;
    text-align: center;
    padding-top: 150px;
}
.top-banner-content h1{
    font-size: 65px;
    color: whitesmoke;
    line-height: 40%;
}
.top-banner-content p{
    padding-left: 380px;
    padding-right: 380px;
    color:black;
}
.donate-button{
    font-size: 20px;
    text-decoration: none;
    background-color:rgba(238, 62, 31, 0.882);
    color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}
.donate-today{
    text-align: center;
    padding-top: 120px;
}
.donate-today h1{
    font-size: 45px;
    font-weight:bold;
}
.donate-today p{
    padding-left: 350px;
    padding-right: 350px;
}
.box-position{
    margin-left: 325px;
}
.money-decoration{
    background-color: rgb(231, 227, 227);
    margin: 40px 10px;
    border-radius: 5px;
    padding: 30px;
}
.money-decoration h2{
    font-weight: bold;
    color: rgba(66, 65, 65, 0.869);
}
.shaded-area{
    border: 2px solid rgb(249, 94, 67);
    background-color:rgba(239, 179, 168, 0.84);
}
.shaded-area h2{
    color: rgba(255, 99, 71, 0.852);
}
.donate-today-bottom-part{
    text-align: center;
    width: 55%;
    padding-left: 310px;
}
.donate-today-bottom-part p{
    color:rgb(211, 205, 205);
    border-bottom: 1px solid rgb(219, 216, 216);
    margin-bottom: 20px;
}
.donate-plan h1{
    font-size: 45px;
    font-weight: bolder;
    margin-top: 150px;
    text-align: center;
}
.donate-plan p{
    text-align: center;
}
.donate-plan p{
    margin-left: 250px;
    margin-right: 250px;
    padding-right: 100px;
    padding-left: 100px;
}
.catagories-position{
    margin-top: 50px;
    margin-left: 175px;
}
.quarter-width{
    width: 25%;
    height: 55vh;
    text-align: left;
    padding-left: 20px;
    border-radius: 5px;
    margin-right: 25px;
}
.quarter-width img{
    margin-top: 50px;
    width: 40%;
}
.gray-color{
    background-color: rgba(215, 209, 209, 0.512);
}
.lightRed-color{
    background-color:darksalmon;
}
.cream-color{
    background-color:blanchedalmond;
}
.quarter-width p{
    text-align: left;
    padding-right: 50px;
}

.half-width{
    margin-top: 150px;
    width: 50%;
}
.half-width h1{
    font-size: 40px;
    margin-left: 150px;
    line-height: 50%;
}
.half-width p{
    margin-left: 150px;
    margin-right: 50px;
    padding-right: 50px;
}
.half-width img{
    width: 70%;
    height: 70vh;
    border-radius: 10px;
}
.contribute-button{
    margin-left: 155px;
    margin-right: 300px;
    padding: 10px 10px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}
.half-width-1{
    margin-top: 150px;
    width: 50%;
}
.half-width-1 img{
    width: 70%;
    margin-left: 150px;
    height: 75vh;
    border-radius: 5px;
}
.half-width-1 h1{
    font-size: 40px;
    line-height: 50%;
    padding-left: 10px;
}
.half-width-1 p{
    margin-right: 250px;
    padding-left: 10px;
}
.contribute-button-1{
    margin-left: 10px;
    margin-right: 300px;
    padding: 10px 10px;
    background-color: tomato;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
}
.form{
    text-align: center;
    padding: 80px 100px;
    background-color: rgba(241, 228, 211, 0.873);
    width: 50%;
    margin-left: 250px;
    margin-right: 200px;
}
.email-field{
    width: 300px;
    height: 5vh;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    background-color: rgb(231, 222, 222);
}
.subscribe-button{
    height: 5vh;
    width: 150px;
    border: none;
    background-color: tomato;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}
footer{
    margin-top: 150px;
    text-align: center;
    line-height: 150%;
    background-color: black;
    height: 25vh;
}
#humble{
    padding-top: 50px;
    font-size: 30px;
    font-weight: bolder;
    font-family:cursive;
    color:rgb(247, 90, 63);
}
#do-it{
    color: rgba(255, 255, 255, 0.648);
}